body {
    background-image: url(https://e0.pxfuel.com/wallpapers/722/859/desktop-wallpaper-blue-gradient.jpg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card {
    background-color: white;
    height: 80vh;
    width: 22vw;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Login {
        font-family: "Nanum Gothic", sans-serif;
        font-weight: 800rem;
        font-style: bold;
      }      
.line {
    border-bottom: 1px solid black;
}
.inpt {
    border: 0;
}
.img{
    height: 30PX;
    width: 30PX;
    border-radius: 50%;
}
.button{
    background: rgb(73,108,166);
    background: linear-gradient(90deg, rgba(73,108,166,1) 0%, rgba(56,87,128,1) 36%, rgba(64,45,96,1) 59%, rgba(65,120,143,1) 74%, rgba(21,38,48,1) 100%);
    width: 15vw;
    height: 5vh;
    border-radius: 10px;
    color: white;
    border: 0;
}
.fp {
    text-align: end;
}